
.backgroundImage{
    background-image: url('/img/about-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.weSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px;
}
