.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}
.items {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    .item{
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
}
